.carousel{
    position: relative;
    display: flex;
    align-items: center;
    gap: 1rem;
    .seta{
        position: absolute;
        right: 0;
        width: 3rem;
        height: 3rem;
        transition: scale 0.8s ease;

        &:hover{
            cursor: pointer;
            transform: scale(0.9);
        }
    }
}